
body{
	font-family: Ubuntu;
}
*::-webkit-scrollbar{
     height: .5rem;
     width: .5rem;
   }
*::-webkit-scrollbar-track{
    background-color: transparent;
  }
*::-webkit-scrollbar-thumb{
    background-color: #4e4d54;
    border-radius: 5px;
  }
/* ----------------------------------------------------------- */
/*  GO TO TOP BUTTON CSS
/* ----------------------------------------------------------- */

  #myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  background:linear-gradient(to bottom, #40dfff 0%, #2e48f2 100%);
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}
/* ----------------------------------------------------------- */
/*  TOP NAV / FIRST NAV CSS
/* ----------------------------------------------------------- */
.top-bgcolor{
	background: linear-gradient(to bottom, #2e48f2 0%, #40dfff 100%);
}
.dropdown-menu-box{
  border-bottom: .5px solid black;
}
.no-border-line{
   border-right: 1px solid #fff;
    padding: 0px 20px 0px 0px;
}
.email-spacing{
  padding: 0px 0px 0px 20px
}
.dropdown-menu-box-position{
    padding: 0px 0px;
    margin-top: -6px !important;
}
.dropdown-menu-hover:hover{
    background-color: #6251ac !important;
    color: #fff ;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    border-radius: 5px;
    transition: 3s;
    list-style: none;
  }

.dropdown:hover .dropdown-content {
    display: block;
    transition: 3s;
  }
.top-z-index{
  z-index: 2 !important;
}
.top-email-no-position{
	text-align: end;
}
.top-icon{
	background: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
.top-fa-icon{
	padding: 6px 2px 6px 2px
}
.twitter-color{
	color: #2eb8f0;
}
.instagram-color{
	color: #8a3ab9;
}
.linkdin-color{
	color: #0e76a8 ;
}
.top-nav-text{
	color: #fff;
    text-decoration: none;
}
.top-nav-text:hover{
	color: #fff;
}

/* ----------------------------------------------------------- */
/* SECOND NAV CSS
/* ----------------------------------------------------------- */
.second-nav-position{
	padding: 2px;
}
.second-nav-bg {
  /* background: linear-gradient(to right, #2A273B, #e06d6d); */
  background-color: white;
  color: #000000; /* Set the text color for better contrast */
}


/* ----------------------------------------------------------- */
/*  THIRD NAV CSS
/* ----------------------------------------------------------- */
.menu-position{
	flex-direction: row !important;
  margin-left: 112px !important;
}
.third-bg-color{
	background: linear-gradient(to bottom, #40dfff 0%, #2e48f2 100%);;
}
.third-menu-color{
	color: #fff !important;
    font-size: 14px;
    padding: 8px 10px 8px 10px !important;
}
/* ----------------------------------------------------------- */
/*  ENQUIRY CSS
/* ----------------------------------------------------------- */
.Enquiry-btn-position{
	position: fixed;
	z-index: 1;
	top: 50%;
	 -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -75px;
}
.enquiry-btn{
	background: linear-gradient(rgb(64, 223, 255) 0%, rgb(46, 72, 242) 100%);
    color: #fff;
}
.enquiry-btn:hover{
	color: #fff;
}
.first-captcha{
      width: 0;
      position: fixed;
      z-index: 99;
      top: 50px;
      left: 340px;
      background-color: #fff;
      overflow-x: hidden;
      transition: top 0.5s ease-in;
      /* padding-top: 60px; */
      /*border: 1px solid brown;*/
    }
    .first-captcha a {
      text-decoration: none;
      display: block;
      transition: all 0.3s ease-in-out;
    }
    .first-captcha .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .table-size{
        width: 100%;
    }
    .admission-enquiry-bg{
      background: linear-gradient(rgb(64, 223, 255) 0%, rgb(46, 72, 242) 100%);
        padding: 8px 5px 1px 15px;
        color: #fff;
    }
    .enquiry-contact-color{
      color: #f6042e;
    }
    .contact-form-space{
      margin-bottom: 10px;
    }
    #captchaHeading {
     color: white;
    }
    .incorrectCaptcha {
     color: #FF0000;
    }
    .correctCaptcha {
     color: #7FFF00;
    }
    #captcha {
     width: 100%;
    }
     #captcha2 {
     width: 100%;
    }
/* ----------------------------------------------------------- */
/*  CAROUSEL / HOME PAGE CSS
/* ----------------------------------------------------------- */
.carousel-img{
	height: 400px;
	width: 100%;
}
.zoom {
  animation: scale 10s linear infinite;
}
  
@keyframes scale {
  50% {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }
}
.carousel-position{
  padding-top: 155px;
}
.home-text-box{
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
.home-text-box:hover{
  background: rgba(0, 0, 0, 1);
}
.carousel-box-position{
  right: 10% !important;
  left: 10% !important;
}
.img-carousel{
    transition: none !important;
}
.text-img-position{
  margin-top: 14px;
}
.box-anchor-text{
   color: #ffb701;
   text-decoration: none;
}
.box-anchor-text:hover{
  color: #ffb701;
  text-decoration: underline;
}
.indicator-z-index{
  z-index: 1 !important;
}
/* ----------------------------------------------------------- */
/*  Announcements CSS
/* ----------------------------------------------------------- */
.marquee-position {
  overflow: hidden;
}

.marquee-container {
  display: flex;
  animation: marqueeAnimation 20s linear infinite; /* Adjust the duration as needed */
}

.marquee-item {
  margin-right: 15px; /* Adjust the spacing between images */
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}---------------------------------------------------------- */
/*  SINGLE COURSE SLIDE CSS
/* ----------------------------------------------------------- */
.owl-carousel .owl-nav button.owl-next ,.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    font-size: 60px;
    color: #ffc900;
    /*margin-top: -150px;*/
    padding: 20px !important; 
    margin-right: -40px;
    bottom: 40%; 
    display: block;      
}
.owl-carousel .owl-nav button.owl-next{
    right: 40px;
}

.next-btn-position .owl-carousel .owl-nav button.owl-next{
    margin-right: 116px !important;
}
 .img-position{
        margin-left: 45%;
    }

.owl-carousel .owl-item img {
    display: block;
    height: auto;
    width: 10%;
}
@media(max-width: 992px){
    .owl-carousel .owl-nav button.owl-next ,.owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
    .img-position{
        margin-left: 40%;
    }
}
.owl-carousel, .owl-carousel .owl-item {
    overflow: hidden;
}
 .carousel-img-size{
    height: 60vh !important;
    width: 100% !important;
    
 }
 .star-position{
    display: flex;
    list-style: none;
    margin-left: -31px;
 }
 .star-gap{
  padding-right: 5px;
 }
 .star-color{
  color: #ffb702
 }
 .course-text-color:hover{
    color: #b9001c;
 }
 .course-text-color{
  padding-top: 5px;
 }
 .courses-position{
  padding: 40px 0px 15px 0px;
  text-align: center ;
 }
 .courses-img-size{
  height: 30vh !important;
 }
/* ----------------------------------------------------------- */
/*  TEACHING APPROACH CSS
/* ----------------------------------------------------------- */
 .para-size{
  text-align: justify;
 }
 .teaching-bg-color{
  padding: 35px 0px 35px 0px;
 }
 .teaching-img-size {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #fff;
  filter: grayscale(20%) brightness(60%);
}

/* ----------------------------------------------------------- */
/*  testimonial CSS
/* ----------------------------------------------------------- */

.client {
  width: 100%;
  height: 100%;
}
.testimonial-position{
  padding: 10px 110px 10px 110px;
}
@media(max-width: 982px){
  .testimonial-position{
    padding: 0px 0px 0px 0px;
  }
}
.carousel-caption1 {
    position: initial;
    z-index: 10;
    padding: 2rem 3rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
}
@media(max-width:767px) {
    .carousel-caption1 {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}
.carousel-caption1 img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}
@media(max-width:767px) {
    .carousel-caption1 img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}
.image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}
@media(max-width:767px) {
    .image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}
.quota-color{
  color: #442ce5;
}
.left-angle-color{
  color: #442ce5;
  font-size: 40px;
}
/* ----------------------------------------------------------- */
/*  total count CSS
/* ----------------------------------------------------------- */
.total-no-color{
  background-image: url('E:/Differentwebsite/Neweducationwebsite/assets/img/totalbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.total-no-color-shadow{
  background: rgba(0, 0, 0, 0.8);
}
#counter{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  width: 100%;
}
@media(max-width: 810px){
  .on-mobile-screen{
    display: contents !important;
  }
}
#counter .item{
  padding: 35px 40px;
} 
#counter .item img{
  height: 100px;
} 
#counter .item .count{
  color: #fff;
  margin-bottom: 5px;
  font-size: 40px;
}
#counter .item .span-text{
  color: #fff;
}
/* ----------------------------------------------------------- */
/*  footer CSS
/* ----------------------------------------------------------- */
.techgeering-decoration{
  text-decoration: none;
  color: #06f7fc;
}
.techgeering-decoration:hover{
    color: #dc3545 !important;
}
.e-color{
    color:#dc3545 ;
}
.e-color:hover{
    color: #06f7fc;
}
.footer-bg-img{
  background-image: url(E:/Differentwebsite/Neweducationwebsite/assets/img/footerimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.footer-bg-color{
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.text-position{
  padding: 40px 0px 40px 0px;
}
.link-decoration{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.link-decoration:hover{
  color: #ccc;
}
.text-size{
  font-size: 14px;
}
.footer-heading-color{
  color: #04fc04;
}
/* ----------------------------------------------------------- */
/*  about dropdown CSS
/* ----------------------------------------------------------- */
.content-position{
  border: 1px solid #b9001c;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #b9001c;
    margin-bottom: 15px;
    border-radius: 10px;
}
.para-size{
  text-align: justify;
}
.heading-bg-img{
  background-image: url(E:/Differentwebsite/Neweducationwebsite/assets/img/headingbgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heading-bg-img-cnt{
  background-image: url(E:/Differentwebsite/Neweducationwebsite/assets/img/headingbgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 200px;
}
.heading-text-position{
  text-align: center;
  padding: 80px;
  color: #fff;
  margin-top: -34px;
}

.about-content-img{
  border-radius: 15px;
    box-shadow: 1px 1px 1px 1px;
}
/* ----------------------------------------------------------- */
/*  leader CSS
/* ----------------------------------------------------------- */
.leader-img-box{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}
/* ----------------------------------------------------------- */
/*  vission CSS
/* ----------------------------------------------------------- */
.vission-img-box{
    height: 90vh;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
}
/* ----------------------------------------------------------- */
/*  btech lecture note CSS
/* ----------------------------------------------------------- */
.list-class{
   list-style: none;
   margin-left: -31px;
}
.text-design{
  text-decoration: none;
  color: black;
}
.text-gap{
  padding: 10px 0px 10px 0px;
}
.text-design:hover{
  color: black;
}
/* ----------------------------------------------------------- */
/*  campus CSS
/* ----------------------------------------------------------- */
.campus-img{
  padding-bottom: 15px;
}
.campus-img-size{
  width: 100%;
  height: 170px;
  border-radius: 10px;
}
/* ----------------------------------------------------------- */
/*  career CSS
/* ----------------------------------------------------------- */
.career-input-field{
  padding-bottom: 10px;
}
/* ----------------------------------------------------------- */
/*  placement CSS
/* ----------------------------------------------------------- */
.placement-img{
  height: 315px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}
/* ----------------------------------------------------------- */
/*  scholarship CSS
/* ----------------------------------------------------------- */
.scholar-box{
  border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 10px;
}
/* ----------------------------------------------------------- */
/*  programs CSS
/* ----------------------------------------------------------- */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
td,.lab-design{
  border: 1px solid gray;
    padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* ----------------------------------------------------------- */
/*  text animation in home page CSS
/* ----------------------------------------------------------- */
.animation {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.animation span {
  display: inline-block;
  animation: slideLeft 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  } 
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}



.courses-color{
  background: linear-gradient(to right, #2e48f2 0%, #40dfff 100%);
}
.facility{
  z-index: 99999999;
  color: white;
  text-align: center;
}

.abt-uspara{
  text-align: justify;
  /* font-style: inherit; 
  line-height: 2.0; 
  margin-top: -5px; */
}

a{
  text-decoration: none !important;
}

.zoom-on-hover:hover {
  transform: scale(1.05); /* Adjust the scale value for the desired zoom effect */
  transition: transform 0.3s ease; /* Add a smooth transition for the zoom effect */
  box-shadow: 50px 50px 200px rgb(87, 194, 237);
}

.placement-data{
  box-shadow: 0 0 10px 0 rgba(59, 141, 224, 0.5);
  font-family: 'Lucida Console';
  margin-bottom: 30px;
  background-size: cover; /* Ensure the background image covers the entire box */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; 
  
}


/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  /* padding-top: 80px;  */
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 162px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  height: 190px;
  /* background: #FFFFFF; */
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40); */
}
#cards_landscape_wrap-2 .card-flyer:hover{
  /* background: #fff; */
  /* box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50); */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

.fascility-para{
  text-align: justify;
}




/* SIDE BAR SCROLL DESIGN */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #2e48f2 0%, #40dfff 100%);
  animation: animateClr 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #2e48f2 0%, #40dfff 100%);
  animation: animateClr 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99); 
}

.ug-sec{
  width: 151px;
  margin: 0px;
  padding: 4px;
}

.notice-head1{
  background-color: rgb(0, 140, 255);
  height: 52px;
}
.notice-head2{
  background-color: rgba(244, 0, 0, 0.813);
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.head-name{
  margin-top: -13px;
  font-style: unset;
}

.abt-sec{
  margin-top: 175px;
}


.imp-link{
  text-decoration: underline;
  font-style: inherit;
}
.abt-ussec{
  width: 507px;
  margin-left: 55px;
}
.abt-ussec :hover{
  background-color: skyblue;
}
.mission-head{
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  float: left;
  padding-bottom: 19px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 600;
}
.mission-head:after{
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background: #00b9fb;
  left: 0;
  bottom: 0;
}
.mission-heads{
  font-size: 18px;
    line-height: 24px;
    justify-content: left;
    float: right;
    padding-bottom: 19px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 600;
}
.mission-heads:after{
  margin-left:25px;
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background: #00b9fb;
  left: 0;
  bottom: 0;
}

.missionpara-data{
  margin-top: 56px;
}

.mission-cont{
  position: relative;
  line-height: 28px;
  padding-left: 45px;
}


.abt-uss{
  margin-top: 166px;
  /* background: linear-gradient(261deg, #00000005 18.75%, #3d46601c 0 31.25%, #0000 0), repeating-linear-gradient(45deg, #888fca08 -6.25% 6.25%, #ebe1c25e 0 18.75%); */
  /* background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);  */
  /* background: repeating-linear-gradient(39deg, #6165bd0f, #444cf72b 5px, #25197c1a 5px, #0b04880d 25px); */
  background: linear-gradient(135deg,#0000 18.75%,#5e402f14 0 31.25%,#0000 0), repeating-linear-gradient(45deg,#e1791000 -6.25% 6.25%,#fcebb629 0 18.75%);
    background-size: var(--s) var(--s);
}

.pricipal-para{
  text-align: justify;
  font-size: 16px;
  line-height: 33px;
  margin-top: -9px;
}


/* CONTACT PAGE */
    
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: none;
  border-bottom: 2px solid rgb(128, 126, 126);
  background: transparent;
  outline: none;
  width: 100%;
  text-transform: capitalize;
  padding: 1rem 0.4rem;
}
.aside {
    background: linear-gradient(to left, #2e48f2 0%, #40dfff 100%);
  animation: animateClr 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99);
  background-size: 400%;
}

@keyframes animateClr {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

ion-icon:not([name="logo-codepen"]) {
  border: 1px solid currentColor;
  border-radius: 20%;
  padding: 1rem;
}

/* ABOUT US PAGE  */
.abt{
  background-image: repeating-linear-gradient(135deg, #2b398400 /*0px*/, #2b328408 100px, #bc814114 100px, #41afbc05 105px, #2b328414 105px, #2b328403 130px, #4153bc00 130px, #4177bc1f 260px, #ffffff05 260px, #ffffff59 265px, #4158bc1f 265px, #417ebc03 270px, #ffffffab 270px, #fffffffc 330px );

}
.abt-us{
  margin-top: 148px;
}

.abt-imgmain{
 height: 240px;
 max-width: 100%;
 margin-top: 77px;
}
.abt-us h5{
  font-style: inherit; /* Optional: Italic font style */
  line-height: 2.0; /* Adjust line height for gap between lines */
  text-align: justify;
  margin-top: -5px;
}
.imp-linkbox{
  border: 0.5px solid blue;
  height: 40px;
  margin-top: 2px;
}

.place-head{
  margin-top: 196px;
}

@media only screen and (max-width: 900px){

  body{
    max-width: 100%;
  }

  #cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    object-fit: contain;
    /* display: grid; */
    /* place-items: center; */
    max-width: 82%;
    margin-left: 34px;
}

.owl-carousel .owl-item img {
  display: block;
  height: auto;
  width: 20%;
}

.abt-uss{
  margin-top: 56px;
}

.abt-us{
  margin-top: 126px;
}
.place-head{
  margin-top: 126px;
}

.abt-imgmain {
  height: 240px !important;
  max-width: 100% !important;
  /* margin-top: 77px; */
}

  section{
    max-width: 100%;
  }
  .mission-heads {
    font-size: 18px;
    line-height: 24px;
    float: right;
    padding-bottom: 19px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 600;
}

  /* .mission-heads{
    margin-left: 190px;
    font-size: 18px;
    line-height: 24px;
    float: left;
    padding-bottom: 19px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 600;
  }
  .mission-heads:after{
    margin-left:25px;
    position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    background: #00b9fb;
    left: 0;
    bottom: 0;
  }
  .abt-imgmain{
    margin-top: 350px;
    height: 240px;
    max-width: 322%;
   }
  .abt-imgmainobj{
    margin-top: 350px;
    height: 240px;
    max-width: 345px !important;
   }

   .mission-para{
    margin-left: -106px;
    margin-bottom: -20px;
   }
   .abt-visionimg{
    height:30%;
    width:332%;
    margin-top: 550px;
    margin-left: -300px;
   }
   .vision-para{
    margin-bottom: -20px;
    margin-left: 30px;
   } */

   /* .ug-deta {
    width: 45% !important;
    padding: 10px;
    border-right: 2px solid #3bb3fb;
}

.ug-paradt{
  text-align: justify !important;
  max-width: 100% !important;
} */
.containers {
  width: 88%;
margin-left: 30px;
}
.pre-placement{
  width: 100%;
  margin-left: -3px;
}
.maos{
  max-width: 100%;
}
.mob-logo{
  margin-top: -16px !important;
    margin-left: 16px !important;
    height: 248% !important;
}

.top-bgcolor{
  max-width: 100% !important;
}
.cs-img{
  width: 100% !important;
}
}
.cs-imgs{
  width: 100%;
  height: auto;
  padding: 2px;
}

.nav-toggleicon{
  position: relative !important;
  margin-top: 12px !important;
  float: right !important;
}


/*image and video button*/
/* .gallery-grid {
  cursor: pointer;
} */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}
.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.btn-container {
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
}


/* ----------------------------------------------------------- */
/*  placement
/* ----------------------------------------------------------- */
.logos img{
  width: 20% !important;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
  padding: 5px;
}


.section-bg {
  background-color: #f3f5fa;
  /* background: repeating-linear-gradient(39deg, #6165bd0f, #444cf72b 5px, #25197c1a 5px, #0b04880d 25px);  */
  background: linear-gradient(135deg,#0000 18.75%,#5e402f14 0 31.25%,#0000 0), repeating-linear-gradient(45deg,#e1791000 -6.25% 6.25%,#fcebb629 0 18.75%);
  background-size: var(--s) var(--s);

}

.section-title {
  text-align: center;
  padding-bottom: 18px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


.chairman-head {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  float: left;
  top: 389px;
  font-weight: 600;
}

.chairman-head:after {
  position: absolute;
content: "";
width: 50px;
height: 4px;
background: #00b9fb;
left: 80px;
bottom: 0;
top: 96%;
}
.chairman-desig{
  font-size: 16px;
}


.principal-head {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  float: left;
  padding-bottom: 19px;
  margin-bottom: 20px;
  top: 460px;
  position: absolute;
  font-weight: 600;
}

.principal-head:after {
  position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    background: #00b9fb;
    left: 100px;
    bottom: 0;
    top: 92%;
}

.principal-desig {
  margin-top: 35px;
    margin-left: 72px;
    font-size: 16px; 
}

.principal_para {
  margin-top: -16px
}

.pricipal-para1 {
  text-align: justify;
  font-size: 16px;
  line-height: 35px;
  margin-top: 51px;
}

.elevate-img{
    border: 2px solid #56575748; /* Add border */
    box-shadow: 0px 6px 12px rgba(0.3, 0.3, 0.3, 0.3); /* Increased elevation */
}
@media only screen and (max-width: 600px) {
  .principal-head {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  float: left;
  padding-bottom: 19px;
  margin-bottom: 20px;
  top: 538px;
  position: absolute;
  font-weight: 600;
}

.principal-head:after {
  position: absolute;
    content: "";
    width: 50px;
    height: 4px;
    background: #00b9fb;
    left: 135px;
    bottom: 0;
    top: 81%;
}

.principal-desig {
  margin-top: 45px;
    margin-left: 72px;
    font-size: 16px; 
  }


  .chairman-head {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    float: left;
    top: 389px;
    font-weight: 600;
  }
  
  .chairman-head:after {
    position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background: #00b9fb;
  left: 110px;
  bottom: 0;
  top: 584px;
  }
  .chairman-desig{
    font-size: 16px;
  }

  
.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 18px;
  margin-top: 90px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
.first-captcha{
  width: 0;
  position: fixed;
  z-index: 99;
  top: 99px;
    left: -5px;
  background-color: #fff;
  overflow-x: hidden;
  transition: top 0.5s ease-in;
  /* padding-top: 60px; */
  /*border: 1px solid brown;*/
}
.ug-detas{
  width: 99%; text-align: justify; padding: 20px;
}
.ug-conts{
  width: 99%; text-align: justify; padding: 20px;
}
}

.carousel-caption {
  z-index: 1 !important;
}

.nav-side{
  margin-left: -80px;
}

.placement-count{
  text-shadow: 0px 0px 4px #000000, 0 0 7px #000000;
}

.news-events-container {
  overflow: hidden;
  position: relative;
  height: 280px;
  box-shadow: 0 0 10px 0 rgba(52, 73, 94, 0.5);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.news-events-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)),
    url("../img/campus.jpg") center/cover no-repeat;
  /* Replace with your image path */
  border-radius: 10px;
  /* Match the border-radius of the container */
}

.scrolling-news-box {
  animation: scrollNews 15s linear infinite;
}

.news-item {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition: transform 0.3s ease;
}

.news-item:hover {
  animation-play-state: paused;
  transform: translateY(0);
}

@keyframes scrollNews {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.card {
  max-width: 200px;
  /* Adjust the maximum width of the card */
  margin: 0 auto;
  /* Center the card within the column */
}

.card-img-top {
  max-height: 150px;
  /* Adjust the maximum height of the image */
  object-fit: cover;
  /* Maintain aspect ratio and cover the entire container */
}

.courses-position {
  text-align: center;
  /* Center align the text within the courses-position div */
  margin-bottom: 20px;
  /* Add some bottom margin for spacing */
}

.centered-heading {
  text-align: center;
}

.count-section {
  text-align: center;
  margin-top: 30px;
}

.head-name {
  margin-top: -13px;
}

.abt-sec-col{
  background: linear-gradient(to bottom, #2e48f261 0%, #40dfff80 100%);
}

.three-column-images {
  background: white;
}

.three-column-images .row {
  text-align: center;
}

.three-column-images img {
  margin-bottom: 10px;
  margin-top: 20px;
}

.three-column-images a {
  font-weight: bold;
}

.ug-box {
  display: flex;
}

.ug-deta {
  width: 25%;
  padding: 10px;
}

.ug-deta h3 {
  margin-left: -8px;
  margin-right: 6px;
  cursor: pointer;
  margin-bottom: 0;
  transition: color 0.3s, transform 0.3s;
  background-color: #3bb3fb;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(0 0 0);
}

.ug-deta h3.active {
  color: rgb(255, 255, 255);
  background-color: #5e3bfb;
  transform: scale(1.05);
}
.ug-detas h3 {
  margin-left: -8px;
  margin-right: 6px;
  cursor: pointer;
  margin-bottom: 0;
  transition: color 0.3s, transform 0.3s;
  background-color: #3bb3fb;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(0 0 0);
}

.ug-detas h3.active {
  color: rgb(255, 255, 255);
  background-color: #5e3bfb;
  transform: scale(1.05);
}

.ug-cont {
  width: 75%;
  padding: 20px;
}

.line{
  border-right: 4px solid #ff5733;
}